<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- thread-count="8" -->


<suite name="Dollar Days">
	<listeners>
		<listener class-name="com.dd.listeners.ListenerBase" />
		
	</listeners>
	
	<test name="Homepage Test" parallel ="false">
		<classes>
		<!--  this is comment-->
		 <class name="com.dd.test.SignInPageTest" />
		 <class name="com.dd.test.HomepageHeaderTest" />
		 <class name="com.dd.test.HomePageShopByCatTest" />
		 <class name="com.dd.test.HomepageTest" />  	
			
			
		</classes>
	</test>
	
	
</suite>